@import url('http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900');
:root {
  --primaryColor : rgb(9, 53, 123);
  --primaryColorAlpha : rgba(9, 53, 123,0.9);
  --secondaryColor : rgb(13, 71, 161);
  --s-loader-wrapper-bg-color: rgb(21, 22, 43);
  --s-loader-width: 20px;
  --s-loader-height: var(--s-loader-width);
  --s-loader-border-color-trans: var(--primaryColor);
  --s-loader-border-color-full: rgba(129, 161, 242, 0);

}

* {
  margin: 0;
  padding: 0;
}

